# Python virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Data
data/raw/
*.csv

# Outputs
outputs/preprocessed/
outputs/models/
outputs/figures/

# Models
*.pkl

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db